In [1]:
class Solution:
    def findDisappearedNumbers(self, nums):

        l = []
        for i in range(1, len(nums)+1):
            if i not in nums:
                l.append(i)
            else:
                pass

In [6]:
class Solution:
    def containsNearbyDuplicate(self, nums, k):
        
        for i in range(len(nums)):
            for j in range(len(nums)):

                if nums[i] == nums[j] and abs(i - j) <= k and j != i:
                    print(abs(i - j))
                    return True
                else:
                    return False

In [7]:
a = Solution()

a.containsNearbyDuplicate([1,2,3,1,2,3], 2)

False

In [2]:
d = {1:2}

2 in d

False

In [3]:
l = [[1,2,], [3,5]]

5 in l

False

In [4]:
class Solution:
    def summaryRanges(self, nums):
        ranges = []
        for n in nums:
            if not ranges or n > ranges[-1][-1] + 1:
                ranges += []
                print("yes")
            ranges[-1][1:] = n,
        return ['->'.join(map(str, r)) for r in ranges]

In [6]:
a = Solution()

a.summaryRanges([0,1,2,4,5,7])

yes

IndexError: list index out of range

In [1]:
a = {'year': '2019', 'common_expenses Dues': '873', 'number_units': '655', 'bank_fees': '67', 'contractor_repairs': '57', '0': 'key1'
, '100': '67', '3': 'key4', '103': '42', '2': 'key3', '102': '35', '1': 'key2', '101': '45'}

In [2]:
txt = 'hello'
print(txt.center(10, '#'))

##hello###

In [3]:
a

TypeError: unhashable type: 'slice'

In [ ]:
all_data = []
    for i in range(len(request.json)):

        result = {}
        print(request.json)
        data = request.json[i]

        result["Revenues"] = (data["Common Expension"][" HOA Common Expenses Dues "] * data["Common Expension"]["Number of Units"]) * 12
        result["Minus_Delinquent"] = result["Revenues"] * .02
        result["Gross_Profit"] = result["Revenues"] - result["Minus_Delinquent"] 
        print("\nRevenues:- {}, \nMinus_Delinquent:- {}, \nGross_Profit:- {}".format(result["Revenues"], result["Minus_Delinquent"], result["Gross_Profit"]))

        result["Common_Expenses_subtotal"] = sum(data["Common Expenses (Year)"].values())
        print("\nCommon_Expenses_subtotal:- {}".format(result["Common_Expenses_subtotal"]))

        result["Common_Expenses_NET_Profit_Loss"] = result["Gross_Profit"] - result["Common_Expenses_subtotal"]
        print("Common_Expenses_NET_Profit_Loss:- {}".format(result["Common_Expenses_NET_Profit_Loss"]))

        result["Reserve_Account_Expenses"] = sum(data['REPLACEMENT RESERVES (Replacement between 13 months and 30 years time, as well as exterior painting)'].values())
        result["Income_from_Reserve_Dues"] = (data['Replacement Reserves']['HOA Replacement Reserve Dues']* data["Common Expension"]["Number of Units"]) * 12
        print(f'\nReserve_Account_Expenses:- {result["Reserve_Account_Expenses"]}, \nIncome_from_Reserve_Dues:- {result["Income_from_Reserve_Dues"]}')

        result["Reserves"] = 14560 - result["Income_from_Reserve_Dues"] - result["Reserve_Account_Expenses"]
        print("\nReserves:- {}".format(result["Reserves"]))

        result["MY_Total_MONTHLY_Dues"] = sum(data["Total Dues"].values())
        print(f'\nMY_Total_MONTHLY_Dues:- {result["MY_Total_MONTHLY_Dues"]}')

In [25]:
l =

In [26]:
keys = [i for i in l if "key" in i]
values = [i for i in l if "value" in i]

print(keys, values)

[] []

In [27]:
data = dict([('year', '2019'), ('common_expenses Dues', '174'), ('number_units', '8'), ('key0', 'Bank Fees'), ('value0', '45'), ('key12', 'mail cloud services'), ('value12', '300'), ('key11', 'legal and professional fees'), ('value11', '200'), ('key10', 'consultant fees'), ('value10', '680'), ('key9', 'accounting software'), ('value9', '374'), ('key8', 'stats/city'), ('value8', '50'), ('key7', 'licenses and permits - other'), ('value7', '60'), ('key6', 'insurance - property'), ('value6', '1640'), ('key5', 'insurance - Board annual bond'), ('value5', '188'), ('key4', 'Landscaping, Monthly'), ('value4', '3220'), ('key3', 'Landscaping, Major'), ('value3', '900'), ('key2', 'In-House Maintenance'), ('value2', '500'), ('key1', 'Contractor Repairs'), ('value1', '1920'), ('replacement_reserve_dues', '30'), ('paint_metal', '0'), ('exterior_paint', '0'), ('key500', 'paint the metal fence'), ('value500', '1750'), ('key503', 'unplanned '), ('value503', '2000'), ('key502', 'update 3 south'), ('value502', '1200'), ('key501', 'wood fence'), ('value501', '1000')])

In [28]:
data

{'year': '2019',
 'common_expenses Dues': '174',
 'number_units': '8',
 'key0': 'Bank Fees',
 'value0': '45',
 'key12': 'mail cloud services',
 'value12': '300',
 'key11': 'legal and professional fees',
 'value11': '200',
 'key10': 'consultant fees',
 'value10': '680',
 'key9': 'accounting software',
 'value9': '374',
 'key8': 'stats/city',
 'value8': '50',
 'key7': 'licenses and permits - other',
 'value7': '60',
 'key6': 'insurance - property',
 'value6': '1640',
 'key5': 'insurance - Board annual bond',
 'value5': '188',
 'key4': 'Landscaping, Monthly',
 'value4': '3220',
 'key3': 'Landscaping, Major',
 'value3': '900',
 'key2': 'In-House Maintenance',
 'value2': '500',
 'key1': 'Contractor Repairs',
 'value1': '1920',
 'replacement_reserve_dues': '30',
 'paint_metal': '0',
 'exterior_paint': '0',
 'key500': 'paint the metal fence',
 'value500': '1750',
 'key503': 'unplanned ',
 'value503': '2000',
 'key502': 'update 3 south',
 'value502': '1200',
 'key501': 'wood fence',
 'value501': '1000'}

In [29]:
common_ex = {}
replacement_re = {}

for i in data.keys():
    if "key" in i :
        # print(i.split("key")[1])
        if int(i.split("key")[1]) <= 100:
            common_ex[data[i]] = data["value"+i.split("key")[1]]
        elif int(i.split("key")[1]) >= 500:
            replacement_re[data[i]] = data["value"+i.split("key")[1]]

result = {}
#calculation for common expenses
result["Revenues"] = int(data['common_expenses Dues']) * int(data['number_units']) * 12
result["Minus_Delinquent"] = result["Revenues"] * .02
result["Gross_Profit"] = result["Revenues"] - result["Minus_Delinquent"]

result["Common_Expenses_subtotal"] = sum(map(int,common_ex.values()))
result["Common_Expenses_NET_Profit_Loss"] = result["Gross_Profit"] - result["Common_Expenses_subtotal"]

#calculation for replacement reserves
result["Reserve_Account_Expenses"] = sum(map(int, replacement_re.values()))
result["Income_from_Reserve_Dues"] = (int(data['replacement_reserve_dues']) * int(data["number_units"])) * 12
result["Reserves"] = 14560 - result["Income_from_Reserve_Dues"] - result["Reserve_Account_Expenses"]

#total dues
result["MY_Total_MONTHLY_Dues"] = sum(list((int(data["common_expenses Dues"]), int(data["replacement_reserve_dues"]))))

result

{'Revenues': 16704,
 'Minus_Delinquent': 334.08,
 'Gross_Profit': 16369.92,
 'Common_Expenses_subtotal': 10077,
 'Common_Expenses_NET_Profit_Loss': 6292.92,
 'Reserve_Account_Expenses': 5950,
 'Income_from_Reserve_Dues': 2880,
 'Reserves': 5730,
 'MY_Total_MONTHLY_Dues': 204}

In [61]:
list(common_ex.items())

[('Bank Fees', '45'),
 ('mail cloud services', '300'),
 ('legal and professional fees', '200'),
 ('consultant fees', '680'),
 ('accounting software', '374'),
 ('stats/city', '50'),
 ('licenses and permits - other', '60'),
 ('insurance - property', '1640'),
 ('insurance - Board annual bond', '188'),
 ('Landscaping, Monthly', '3220'),
 ('Landscaping, Major', '900'),
 ('In-House Maintenance', '500'),
 ('Contractor Repairs', '1920')]

In [31]:
replacement_re

{'paint the metal fence': '1750',
 'unplanned ': '2000',
 'update 3 south': '1200',
 'wood fence': '1000'}

In [42]:
import pandas as pd

In [44]:
data["common_expenses Dues"]

'174'

In [57]:
df = pd.DataFrame()

df["HOA_Common_Expenses_Dues"] = list((data["common_expenses Dues"],))
df["Number_of_Units"] = list((data["number_units"],))
df["Revenues"] = list((result["Revenues"],))
df["Minus_Delinquent_Payments(2%)"] = list((result["Minus_Delinquent"],))
df["Gross_Profit"] = list((result["Gross_Profit"],))
df["Year"] = list((data["year"],))
df

,HOA_Common_Expenses_Dues,Number_of_Units,Revenues,Minus_Delinquent_Payments(2%),Gross_Profit,Year
0,174,8,16704,334.08,16369.92,2019

In [40]:
df1 = pd.DataFrame(list(zip(common_ex.keys(), map(int, common_ex.values()))), columns = ["Expenses_Name", "Price"])
df1["Year"] = 2019
df1

                    Expenses_Name  Price  Year
0                       Bank Fees     45  2019
1             mail cloud services    300  2019
2     legal and professional fees    200  2019
3                 consultant fees    680  2019
4             accounting software    374  2019
5                      stats/city     50  2019
6    licenses and permits - other     60  2019
7            insurance - property   1640  2019
8   insurance - Board annual bond    188  2019
9            Landscaping, Monthly   3220  2019
10             Landscaping, Major    900  2019
11           In-House Maintenance    500  2019
12             Contractor Repairs   1920  2019

In [50]:
df2 = pd.DataFrame(list(zip(replacement_re.keys(), map(int, replacement_re.values()))), columns = ["Expenses_Name", "Price"])
df2["Year"] = 2019
df2

           Expenses_Name  Price  Year
0  paint the metal fence   1750  2019
1             unplanned    2000  2019
2         update 3 south   1200  2019
3             wood fence   1000  2019

In [70]:
val1 = str(list(common_ex.items()))
val1[1:-1]

"('Bank Fees', '45'), ('mail cloud services', '300'), ('legal and professional fees', '200'), ('consultant fees', '680'), ('accounting software', '374'), ('stats/city', '50'), ('licenses and permits - other', '60'), ('insurance - property', '1640'), ('insurance - Board annual bond', '188'), ('Landscaping, Monthly', '3220'), ('Landscaping, Major', '900'), ('In-House Maintenance', '500'), ('Contractor Repairs', '1920')"

In [119]:
data

AttributeError: 'dict' object has no attribute 'year'

In [118]:
from sqlalchemy import create_engine
engine = create_engine("sqlite+pysqlite:///:memory:")

engine.execute("Create table common_expenses_year (Expenses_Name varchar(255), Price integer, Year integer)")

# common_expenses_year = pd.DataFrame(columns=["Expenses_Name", "Price", "Year"])
# common_expenses_year.to_sql("common_expenses_year", engine)

val1 = str(common_ex.items())
# for key, val in common_ex.items():
query = "INSERT INTO common_expenses_year (Expenses_Name, Price, Year) VALUES (?,?,?)"
engine.execute(query, tuple(common_ex.items()))    

# a = "8787"
# b = 909
# engine.execute("INSERT INTO common_expenses_year VALUES (?,?,?)", (a,b, 202))

engine.execute("select * from common_expenses_year").fetchall()

ProgrammingError: (sqlite3.ProgrammingError) Incorrect number of bindings supplied. The current statement uses 3, and there are 2 supplied.
[SQL: INSERT INTO common_expenses_year (Expenses_Name, Price, Year) VALUES (?,?,?)]
[parameters: (('Bank Fees', '45'), ('mail cloud services', '300'), ('legal and professional fees', '200'), ('consultant fees', '680'), ('accounting software', '374'), ('stats/city', '50'), ('licenses and permits - other', '60'), ('insurance - property', '1640')  ... displaying 10 of 13 total bound parameter sets ...  ('In-House Maintenance', '500'), ('Contractor Repairs', '1920'))]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [78]:
pip install flask-sqlalchemy

Collecting flask-sqlalchemy
  Downloading Flask_SQLAlchemy-3.0.2-py3-none-any.whl (24 kB)
Requirement already satisfied: Flask>=2.2 in c:\users\yadav\appdata\local\programs\python\python38\lib\site-packages (from flask-sqlalchemy) (2.2.2)
Requirement already satisfied: SQLAlchemy>=1.4.18 in c:\users\yadav\appdata\local\programs\python\python38\lib\site-packages (from flask-sqlalchemy) (1.4.46)
Requirement already satisfied: Jinja2>=3.0 in c:\users\yadav\appdata\local\programs\python\python38\lib\site-packages (from Flask>=2.2->flask-sqlalchemy) (3.1.2)
Requirement already satisfied: Werkzeug>=2.2.2 in c:\users\yadav\appdata\local\programs\python\python38\lib\site-packages (from Flask>=2.2->flask-sqlalchemy) (2.2.2)
Requirement already satisfied: click>=8.0 in c:\users\yadav\appdata\local\programs\python\python38\lib\site-packages (from Flask>=2.2->flask-sqlalchemy) (8.1.3)
Requirement already satisfied: importlib-metadata>=3.6.0 in c:\users\yadav\appdata\local\programs\python\python38\lib\site-packages (from Flask>=2.2->flask-sqlalchemy) (5.2.0)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\yadav\appdata\local\programs\python\python38\lib\site-packages (from Flask>=2.2->flask-sqlalchemy) (2.1.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\yadav\appdata\local\programs\python\python38\lib\site-packages (from SQLAlchemy>=1.4.18->flask-sqlalchemy) (2.0.1)
Requirement already satisfied: colorama in c:\users\yadav\appdata\local\programs\python\python38\lib\site-packages (from click>=8.0->Flask>=2.2->flask-sqlalchemy) (0.4.6)
Requirement already satisfied: zipp>=0.5 in c:\users\yadav\appdata\local\programs\python\python38\lib\site-packages (from importlib-metadata>=3.6.0->Flask>=2.2->flask-sqlalchemy) (3.11.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\yadav\appdata\local\programs\python\python38\lib\site-packages (from Jinja2>=3.0->Flask>=2.2->flask-sqlalchemy) (2.1.1)
Installing collected packages: flask-sqlalchemy
Successfully installed flask-sqlalchemy-3.0.2
Note: you may need to restart the kernel to use updated packages.

In [55]:
import pandas
from sqlalchemy import create_engine
  
engine = create_engine("sqlite+pysqlite:///:memory:")
  
df1 = pd.DataFrame(list(zip(common_ex.keys(), map(int, common_ex.values()))), columns = ["Expenses_Name", "Price"])
df1["Year"] = 2019
df1.to_sql('Common_Expenses_table', engine)


engine.execute("Select * from Common_Expenses_table").fetchall()

[(0, 'Bank Fees', 45, 2019),
 (1, 'mail cloud services', 300, 2019),
 (2, 'legal and professional fees', 200, 2019),
 (3, 'consultant fees', 680, 2019),
 (4, 'accounting software', 374, 2019),
 (5, 'stats/city', 50, 2019),
 (6, 'licenses and permits - other', 60, 2019),
 (7, 'insurance - property', 1640, 2019),
 (8, 'insurance - Board annual bond', 188, 2019),
 (9, 'Landscaping, Monthly', 3220, 2019),
 (10, 'Landscaping, Major', 900, 2019),
 (11, 'In-House Maintenance', 500, 2019),
 (12, 'Contractor Repairs', 1920, 2019)]

In [52]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.46-cp38-cp38-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 852.1 kB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.1-cp38-cp38-win_amd64.whl (190 kB)
     ------------------------------------ 190.7/190.7 kB 888.7 kB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-2.0.1 sqlalchemy-1.4.46
Note: you may need to restart the kernel to use updated packages.

In [83]:
import os
os.path.abspath(os.path.dirname(os.get))

NameError: name '__file__' is not defined

'd:\\Office\\project\\flask'

'C:\\Users\\yadav'

In [129]:
import mysql.connector as connection
mydb = connection.connect(host="localhost", database = 'reserve_study',user="root", passwd="Tushar0420&",use_pure=True)
    # check if the connection is established
print(mydb.is_connected())
cur = mydb.cursor()
cur.execute("Insert into common_expenses_major values (%s,%s,%s,%s,%s,%s)", (12,23,23,23,23,23))
mydb.commit()

cur = mydb.cursor()
a = cur.execute("select * from common_expenses_major")
print(cur.fetchall())

True
[(67, 8, 32, 443, 54, 2019), (12, 23, 23, 23, 23, 2023), (12, 23, 23, 23, 23, 2023), (12, 23, 23, 23, 23, 2023), (12, 23, 23, 23, 23, 2023), (12, 23, 23, 23, 23, 2023), (12, 23, 23, 23, 23, 2023)]

In [6]:
class Solution:
    def arrayPairSum(self, nums):
        
        l = []
        m = 0
        n = 1
        while True:
            if n < (len(nums)):
                a = min(nums[m], nums[n])
                b = min(nums[-(m+1)], nums[-(n+1)])
                l.append(a+b)
                n += 1
            
            elif m <= len(nums)/2 and n >= len(nums):
                m += 1
                n = m+1
            
            else:
                return max(l)

In [7]:
a = Solution()
a.arrayPairSum([1,4,3,2])

KeyboardInterrupt:

In [19]:
import numpy as np

class Solution:
    def matrixReshape(self, mat: List[List[int]], r: int, c: int) -> List[List[int]]:
        
        l1 = np.array(mat).
        l = []
        for i in range(r):
            l.append([])
            for j in range(c):

In [20]:
a = Solution()
a.matrixReshape([[1,2],[3,4]], 2,4)

[[1, 2], [3, 4]]

In [13]:
import numpy as np
l1 = np.array(l)
l1 = l1.flat[:]
l1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [ ]:
class Solution:
    def findLHS(self, nums):

        num1 = set(nums)

In [3]:
nums = [1,3,2,2,5,2,3,7]

d = {}
for i in nums:
    if i not in d.keys():
        d[i] = 1
    else:
        d[i] += 1

In [9]:
from collections import Counter
C = Counter(nums)
C

Counter({1: 1, 3: 2, 2: 3, 5: 1, 7: 1})

In [4]:
d

{1: 1, 3: 2, 2: 3, 5: 1, 7: 1}

In [5]:
d.keys()

dict_keys([1, 3, 2, 5, 7])

In [29]:
from collections import Counter

class Solution:
    def findLHS(self, nums):
        # import pdb; pdb.set_trace()
        C = Counter(nums)
        l = list(C.keys())
        l.sort()
        print(l)
        for i in range(len(l)):
            print(i)
            print("Abs", abs(C[i] - C[i+1]))
            if abs(l[i] - l[i+1]) == 1:
                print(i)
                return sum([C[l[i]], C[l[i+1]]])

In [30]:
a = Solution()
print(a.findLHS([1,2,3,4]))

[1, 2, 3, 4]
0
Abs 1
0
2

In [2]:
from collections import Counter


C = Counter(nums)
C

Counter({1: 1, 3: 2, 2: 3, 5: 1, 7: 1})

In [7]:
C[4]

0

In [5]:
for n in C:
    print(n)

1
3
2
5
7

In [31]:
nums = [1,3,2,2,5,2,3,7]
nums.index(3)

1

In [34]:
class Solution:
    def findRestaurant(self, list1, list2):

        d = {}
        for i in list1:
            if i in list2:
                ind1 = list1.index(i)
                ind2 = list2.index(i)

                d[i] = ind1 + ind2

        print(d)
        min_val = min(list(d.values()))  
        print(min_val)
        print(d.get(min_val))

In [35]:
a = Solution()
n = ["Shogun","Tapioca Express","Burger King","KFC"]
m = ["Piatti","The Grill at Torrey Pines","Hungry Hunter Steakhouse","Shogun"]
a.findRestaurant(n,m)

{'Shogun': 3}
3
None

In [36]:
my_dict = {'Shogun': 3}
list(my_dict.keys())[list(my_dict.values()).index(3)]

'Shogun'

In [4]:
a= "4"

a.isnumeric()

True

In [ ]:
class Solution:
    def maxCount(self, m, n, ops):
        return min(i for i,_ in ops+[[m,n]]) * min(j for _,j in ops+[[m,n]])

In [5]:
class Solution:
    def calPoints(self, operations):
        l = []

        for i in operations:
            if i == "5":
                l.append(5)
            elif i == "2":
                l.append(2)
            elif i == "C":
                l.pop()
            elif i == "D":
                l.append(l[-1]*2)
            elif i == "+":
                l.append(sum(l[-2:]))
        return sum(l)

NameError: name 'List' is not defined

In [7]:
l = ["c","j","f",]

In [8]:
max(l)

'j'

In [5]:
ord("d")-97

3

In [6]:
l = ["--...-.","--...-.","--...--.","--...--."]

In [7]:
set(l)

{'--...--.', '--...-.'}